.container {
    margin     : 0 auto;
    min-height : 100vh;
    display    : grid;
    place-items: center;
}

.bg-container {
    position         : fixed;
    top              : 50%;
    left             : 50%;
    min-width        : 100vw;
    min-height       : 100vh;
    width            : auto;
    height           : auto;
    z-index          : -100;
    -ms-transform    : translateX(-50%) translateY(-50%);
    -moz-transform   : translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform        : translateX(-50%) translateY(-50%);
    background-size  : cover;
}

.title {
    color      : #fff;
    font-weight: 400;
}