body {
  margin                 : 0;
  font-family            : 'Courier New', Courier, monospace;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight            : 400;
}
